<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RegressionSuite" thread-count="1" parallel="false">

	<listeners>
		<listener class-name="com.crm.qa.reports.ExtentReporterNG"></listener>
		
	</listeners>

	<test name="Testing">
		<!-- <groups> <run> <exclude name = "Functionality" /> </run> </groups> -->
		<classes>
			<class name="com.crm.qa.testcases.SmokeTest">
			<methods>
			<include name="TC02"/>
			<include name="TC03"/>
			<include name="TC01"/>
			</methods></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
